<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- Если используется LocalDB - оставьте эту строку.
         Если используется полноценный SQL Server, замените на:
         Data Source=ИМЯ_СЕРВЕРА;Initial Catalog=ShoeStoreDB;Integrated Security=True
         Например: Data Source=.\SQLEXPRESS;Initial Catalog=ShoeStoreDB;Integrated Security=True -->
	  <add name="ShoeStoreDB"
	   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ShoeStoreDB;Integrated Security=True"
	   providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
